.userCardRegisterorLogin{
  position: absolute;
  right: 20px;
  top: 60px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 200px;
}
.loginLink {
    display: block; 
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px; transition: background-color 0.3s ease;
 } 
 .loginLink:hover{
    background-color: #f0f0f0; 
}
